#h1 {
    font-family: Copperplate, 'Copperplate Gothic Light', fantasy;
    position: absolute;
    text-transform: uppercase;
    color: black;
    font-size: 40px;
    top: 0px;
    left: 20px;

}

#h2 {
    
    position: absolute;
    color: black;
    top: 50px;
    left: 50px;
    font-family: Papyrus, fantasy;
    text-align: center;
}

#h3 {
    
    position: absolute;
    color: black;
    top: 70px;
    left: 20px;
    font-size: 2.5em;
    padding-bottom: 10px;
    text-align: center;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.dot {
  stroke: blue;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

#text-piechart {
  position: absolute;
  left: 1000px;
  top: 380px;
}

#text-scatterchart {
  position: absolute;
  left: 1000px;
  top: 700px;
}

#button-container{
  position: absolute;
  left: 40px;
  top: 230px;
}

#background1 {
    top: 0;
    left: 0;
    width: 100%;
    height: 8%;
    opacity: 0.2;
    
}

#container1 {
	position: absolute;
	left: 120px;
  top: 240px;
	width: 90px;
  padding-top: 70px;
}

#container2 {
	position: relative;
	left: 840px;
	top: -80px;
  padding-top: 70px;
}

#in_of_uit {
  position: absolute;
  left: 20px;
  top: 210px;
  font-size: 12px;
}


.legend ul li{
  font-size: 40px; /* or whatever */
  padding-right: 30px;
  position:relative;
  top: 600px; 
  margin: 0 0 -80px 0;
}

ul li span{
  font-size: 10px;
}

.inleiding {
    position: absolute;
    color: black;
    top: 120px;
    left: 300px;
    font-size: 0.8em;
    padding-bottom: 10px;
    text-align: left;
}


.legend {
  top: 800px;
}

#container5 {
  position: relative;
  left: 830px;
  top: 290px;
  padding-top: 70px;
}
